.todo-item {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    margin: 10px 0; /* Отступы между задачами */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Занимает всю ширину родительского контейнера */
    background-color: mediumslateblue
}

.todo-item p {
    margin: 0;
    font-size: 18px;
    flex-grow: 1;
    color: white;
}

.todo-item p.completed {
    text-decoration: line-through; /* Перечеркивание текста */
    color: #888; /* Цвет текста для выполненных задач */
}

.todo-item div {
    display: flex;
    gap: 10px;
}

.todo-item svg {
    cursor: pointer;
    font-size: 20px;
    color: white;
    transition: color 0.3s ease;
}

.todo-item svg:hover {
    color: midnightblue; /* Зеленый цвет при наведении */
}
